# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://raw.githubusercontent.com/SecktorBot/Brandimages/main/logos/SocialLogo%201.png"
port = 5000
email = "chamikaisuru16@gmail.com"
AUTO_BIO=false
global_url = "instagram.com"
OWNER_NAME = "CYBER ISURU"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count \n\n\n*ᴘʀᴇꜱɪᴅᴇɴᴛ-ᴍᴅ ᴡᴀ ᴜꜱᴇʀ ʙᴏᴛ 🔮*\n*々 ᴘᴏᴡᴇʀᴇᴅ ʙʏ ᴄʏʙᴇʀᴋɪʟʟᴇʀꜱᴛᴇᴀᴍ*"
THEME= PRESIDENT-MD
WORKTYPE = public
PACK_INFO = "ISURU;PRESIDENT-MD"
ANTILINK_VALUES = "chat.whatsapp.com"
